.centerProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  width: 500px;
  overflow-wrap: break-word;
}

.form {
  display: inline-block;
  max-width: 370px;
  min-width: 270px;
  width: 80vw;
}

.title {
  min-width: 260px;
  font-weight: 700;
  font-size: 2.4em;
  margin-bottom: 1em;
  color: #17A2B8;
}

.input-wrap{
  margin-bottom: 2px;
}

.aster{
  color: red;
  font-size: 1em;
}

.error {
  color: red;
  font-size: 0.9em;
  line-height: 25px;
  margin: 3px 0 8px 5px;
  height: 25px;
}

input {
  border: 1px solid #CED4DA;
  border-radius: 4px;
  max-width: 370px;
  min-width: 270px;
  width: 80vw;
}

input:focus {
  outline: none;
  border: 1px solid rgb(191, 222, 255);
  box-shadow: 0 0 1px 3px rgb(191, 222, 255);
  border-radius: 4px;
}

.bttn {
  margin-top: 50px;
}

.middle {
  text-align: center;
}

@media all and (max-width: 400px){
  .title {
    font-size: 2em;
  }
}

@media all and (max-width: 320px){
  .title {
    font-size: 1.6em;
  }
}