Form {
  max-width: 400px;
  min-width: 270px;
  width: 95vw;
  padding: 0 2%;
}

.err {
  color: rgb(255, 0, 0);
  font-size: 0.85em;
  height: 40px;
  text-align: center;
}

.logo {
  display: inline-block;
  background-image: url("../../../images/logo.png");
  background-repeat: none;
  background-size: 100%;
  width: 50px;
  height: 50px;
  transition: all 0.8s ease-in-out;
}

.logo:hover {
  background-image: url("../../../images/logo2.png");
  transform: rotate(1080deg) scale(1.2);
}

// .center {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

.title {
  min-width: 260px;
  font-weight: 700;
  font-size: 3em;
  margin-bottom: 1em;
  color: #17A2B8;
  text-align: center;
}

@media all and (max-width: 400px){
  .title {
    font-size: 2.3em;
  }
}

@media all and (max-width: 320px){
  .title {
    font-size: 2em;
  }
}

@media all and (max-width: 320px){
  Form {
    padding: 0;
    border: none;
  }
}
